<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fei.shop.mapper.UserAddressMapper">
  <resultMap id="BaseResultMap" type="com.fei.shop.entities.po.UserAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="county" jdbcType="VARCHAR" property="county" />
    <result column="address_detail" jdbcType="VARCHAR" property="addressDetail" />
    <result column="area_code" jdbcType="CHAR" property="areaCode" />
    <result column="postal_code" jdbcType="CHAR" property="postalCode" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="is_default" jdbcType="BIT" property="isDefault" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
</mapper>